.shaman-background{
    background-image: url(img/shaman-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity:0.7;
    fill:#000000;
    fill-opacity:1
}
.contact-color{
    background-color: #2b3035;
    background-repeat: no-repeat;
}
.c-item{
    height:600px;
}
.c-menu{
    height: 11rem;
    object-fit: cover;
}
.c-img{
    height:100%;
    object-fit: cover;
    border-radius: 100%;
}